services:
  mongo:
    build:
      context: ./mongo
      dockerfile: Dockerfile
    image: mongo-server
    container_name: my-mongo-server
    volumes:
      - data-volume:/data/db
    environment:
<<<<<<< HEAD
      MONGO_INITDB_DATABASE: dbPortfolio
=======
      MONGO_INITDB_DATABASE: dbTechs
>>>>>>> publish/main
    ports:
      - "27017:27017"
    networks:
      - linkednetwork
<<<<<<< HEAD

=======
            
>>>>>>> publish/main
  app:
    build:
      context: ./
      dockerfile: Dockerfile.prod
    image: app-server
    container_name: my-app-server
    command: npm run production
    volumes:
      # bind mounting entire project folder to container for watcher detection
      - ./:/usr/app
      # node_modules gets its own volume for all containers to share
      - node_modules_app:/usr/app/node_modules
    ports:
      - "3000:3000"
<<<<<<< HEAD
    environment:
      - NODE_ENV=production      
    depends_on:
      - mongo        
=======
    depends_on:
      - mongo
    environment:
      - NODE_ENV=production      
>>>>>>> publish/main
    networks:
      - linkednetwork  

volumes:
    node_modules_app:
    data-volume:

networks:
  linkednetwork: